/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estructura general de la página */
body, html {
  height: 100%; /* Asegura que la altura sea del 100% */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

header {
  background-color: #007bff;
  padding: 10px 0;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Contenido principal */
main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
  margin-top: 80px; /* Espacio para la barra de navegación fija */
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}

/* Estilo de la tabla */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Empuja el footer al final */
}
